body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 280px auto;
  height: 100vh;
  gap: 5px;
  background-color: brown;
}

html {
  height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


/*
@media (min-width: 768px) {
  workarea {
    display: inline-grid;
    grid-template-rows: inherit;
    grid-template-columns: 280px auto;
    gap: 5px;
    background-color: brown;
  }
}
*/