body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 8.5pt;
}

small {
	font-size: 6.5pt;
}

.topMenu  {
	background-color: #000000;
	height: 17px;
 	width: 100%;
 	position: fixed;
 	left: 0px;
 	top: 0px;
 	padding-top: 5px;
 	font-size: 0.85em;
	color: #ffffff;
	border-right: dotted;
	z-index: 2;
}

.topSecondLineMenu  {
	background-color: #333333;
	height: 17px;
 	width: 100%;
 	position: fixed;
 	left: 0px;
 	top: 22px;
 	padding-top: 3px;
 	font-size: 0.85em;
	color: #ffffff;
	border-right: dotted;
	z-index: 2;
}

.topMenu a {
	color: #ffffff;
}

.topSecondLineMenu a {
	color: #ffffff;
}

.leftMenu {
	background-color: #FFFFFF;
	height: 100%;
 	width: 100px;
 	position: fixed;
 	left: 0px;
 	top: 45px;
 	padding-top: 5px;
 	font-size: 0.85em;
 	border-right: dotted;
 	z-index: 1;
}

.content {
	//background-color: #44FF44;
 	position: absolute;
	left: 110px;
 	top: 45px;
 	padding: 5px; 
}

.menuIcon {
	max-width: 60px;
	height: auto;
	cursor: hand; cursor: pointer;
}

/* =========== Summary table =========== */

.summaryTable {
	border-spacing: 1px 1px;
	font-size: 1em;
}

.summaryTable td {
	border: thin dotted #a5a5a5;
	padding:2px;
}

.summaryTable thead th {
	border: thin dotted #a5a5a5;
	padding:2px;
}

/* =========== Blank table =========== */

.blankTable {
	border-spacing: 5px ;
	font-size: 1em;
}

.blankTable td {
	padding:2px;
	vertical-align: top;
}

.blankTable thead th {
	border-bottom-style: thin dotted #a5a5a5;
	padding:2px;
}

/* =========== Actions table =========== */

.actionsTable {
	border-spacing: 5px 0px;
	font-size: 1em;
}

.actionsTable td, th {
	border: thin dotted #a5a5a5;
	padding:10px;
}

.categoriesTable {
	border-spacing: 1px 1px;
	font-size: 1em;
}
.categoriesTable td, th {
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:dotted;
	border-left-style:none;
	padding:0px;
}

.categoriesTable tfoot td {
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	padding:0px;
}

#recordsTable {
  background-color: #ccccff;
  border: 0px solid;
  cellspacing: 0px;
  
  font-size: 1em;
}

#recordsTable td {
	vertical-align: center; text-align: left;
	padding-left: 3px;
	padding-right: 3px;
}

#recordsTable td.amount {
	text-align: right;
}

#recordsTable td.amountSumOut {
	text-align: right;
	color: red;
	font-style: italic;
}
#recordsTable td.amountSumIn {
	text-align: right;
	color: blue;
	font-style: italic;
}

.tableRowTitle    { font-style: italic }

.tableRow0    { background-color: #eeeeff; }
.tableRow1    { background-color: #ffffff; }

.tableRowDeleted0    { background-color: #FF4444; text-decoration:line-through; }
.tableRowDeleted1    { background-color: #BB4444; text-decoration:line-through; }

.tableRowToCome0    { background-color: #999999; font-style:italic; }
.tableRowToCome1    { background-color: #888888; font-style:italic; }

.tableRowRemark0    { background-color: #AAFFAA; font-style:italic; }
.tableRowRemark1    { background-color: #88FF88; font-style:italic; }


#recordsTable .titleRow td {
	vertical-align: top;
	text-align: center;
	font-style: italic;
}

#recordsTable .headerRowLoan td {
	vertical-align: top;
	text-align: center;
	font-style: italic;
}




h1 {
	font-weight: bold;
	font-size: 1em;
}

/* =========== Statistics table =========== */

.statsTable {
  background-color: #ccccff;
  border: 0px solid;
  cellspacing: 0px;
  
  font-size: 1em;
}

.statsTable .statsTableRowTitle td {
	background-color: #bbbbff;
	font-style: italic;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}

.statsTable .statsTableRowTitle .amount {
	text-align: right;
}

.statsTable .statsTableRowHeader {
	border-right: 1px solid;
	text-align: left;
}

.statsTable .statsTableRowSummary {
	border-left: 1px solid;
}

.statsTable .statsTableRow0 { background-color: #eeeeff; }
.statsTable .statsTableRow1 { background-color: #ffffff; }


.statsTable td {
	vertical-align: center;
	text-align: right;
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}

td left {
	text-align: left;
}