<html>
<head>
<meta charset="utf-8">
<title>GeSFi - Steve Fuchs - Licence et droit d’auteur</title>
<link rel="stylesheet" type="text/css" href="gesfi.css" />
</head>
<body>
<h1>Licence et droit d’auteur</h1>
<h2>Application GeSFi, anciennement GFC (Gestion Financière du Couple)</h2>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.fr"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">GeSFi</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://stevefuchs.fr" property="cc:attributionName" rel="cc:attributionURL">Steve Fuchs</a> est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.fr">licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Pas de Modification 3.0 non transposé</a>.
</body>