body {
	font: 80% "Trebuchet MS", sans-serif;
	margin: 0px;
}

div.centered{
	display:block;
	
	position:absolute;
	top:40%;
	left:35%;
	width:400px;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none; color: red;}